<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    
 <link rel="stylesheet" type="text/css" href="./css/tailwind.css">
    <script defer="" src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>

    <title> i++ </title>

     <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.4/dist/tailwind.min.css"> 
</head> 

<body class="bg-black">
    {{{body}}}
</body>
</html>