<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
    <div>
    <label for="gender-signup">password:</label>
    <input type="gender" id="gender-signup" />
  </div>
    <div>
    <label for="seeking-signup">password:</label>
    <input type="seeking" id="seeking-signup" />
  </div>
    <div>
    <label for="interest-signup">password:</label>
    <input type="interest" id="interest-signup" />
  </div>
    <div>
    <label for="occupation-signup">password:</label>
    <input type="occupation" id="occupationsignup" />
  </div>
    <div>
    <label for="about-signup">password:</label>
    <input type="about" id="about-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>