<div class="relative flex flex-col justify-center min-h-screen overflow-hidden bg-black">
    <div class="w-full p-6 m-auto  border-black-600 rounded shadow-lg shadow-black-800/50 lg:max-w-md bg-black">
        <img class="text-3xl font-semibold text-center text-black-700" src="./images/logo.PNG" alt="" />

        <form class=" login-form mt-6">
            <div>
                <label for="username" class="block text-sm text-white">Username</label>
                <input type="username" id="username-login"
                    class="block w-full px-4 py-2 mt-2 text-black-700 bg-white border rounded-md focus:border-black-400 focus:ring-black-300 focus:outline-none focus:ring focus:ring-opacity-40">
            </div>
            <div class="mt-4">
                <div>
                    <label for="password" class="block text-sm text-white">Password</label>
                    <input type="password" id="password-login"
                        class="block w-full px-4 py-2 mt-2 text-black-700 bg-white border rounded-md focus:border-black-400 focus:ring-black-300 focus:outline-none focus:ring focus:ring-opacity-40">
                </div>

                <div class="mt-6">
                    <button
                        class="bg-slate-700 w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-black-700 rounded-md hover:bg-black-600 focus:outline-none focus:bg-black-600">
                        Login
                    </button>
                </div>
        </form>

        <form class="signup-form">
            <div>
                <label for="username-signup" class="block text-sm text-white">Username:</label>
                <input type="text" id="username-signup" class="block w-full px-4 py-2 mt-2 text-black-700 bg-white border rounded-md focus:border-black-400 focus:ring-black-300 focus:outline-none focus:ring focus:ring-opacity-40" />
            </div>
            <div>
                <label for="email-signup" class="block text-sm text-white">Email:</label>
                <input type="text" id="email-signup" class="block w-full px-4 py-2 mt-2 text-black-700 bg-white border rounded-md focus:border-black-400 focus:ring-black-300 focus:outline-none focus:ring focus:ring-opacity-40"/>
            </div>
            <div>
                <label for="password-signup" class="block text-sm text-white">Password:</label>
                <input type="text" id="password-signup" class="block w-full px-4 py-2 mt-2 text-black-700 bg-white border rounded-md focus:border-black-400 focus:ring-black-300 focus:outline-none focus:ring focus:ring-opacity-40"/>
            </div>
            <div>
               <label for="user-info" class="block text-sm text-white">Gender:</label> 
               <input type="text" id="gender" class="block w-full px-4 py-2 mt-2 text-black-700 bg-white border rounded-md focus:border-black-400 focus:ring-black-300 focus:outline-none focus:ring focus:ring-opacity-40"/>
               <label for="user-info" class="block text-sm text-white">Seeking:</label> 
               <input type="text" id="seeking" class="block w-full px-4 py-2 mt-2 text-black-700 bg-white border rounded-md focus:border-black-400 focus:ring-black-300 focus:outline-none focus:ring focus:ring-opacity-40"/>
               <label for="user-info" class="block text-sm text-white">Interested In:</label> 
               <input type="text" id="interest" class="block w-full px-4 py-2 mt-2 text-black-700 bg-white border rounded-md focus:border-black-400 focus:ring-black-300 focus:outline-none focus:ring focus:ring-opacity-40"/>
            </div>
            <div>
                <button type="submit">Signup</button>
            </div>
        </form>

        {{!-- <p class="mt-8 text-xs font-light text-center text-white"> Don't have an account? <a href="#"
                class="font-medium text-white hover:underline">Sign up</a></p> --}}
    </div>
</div>
<script src="/javascript/login.js"></script>