<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS v3 CDN</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="relative flex flex-col justify-center min-h-screen overflow-hidden bg-black">
        <div
            class="w-full p-6 m-auto  border-black-600 rounded shadow-lg shadow-black-800/50 lg:max-w-md bg-black">
            <img class="text-3xl font-semibold text-center text-black-700" src="./images/logo.PNG" alt=""/>
    
            <form class="mt-6">
                <div>
                    <label for="username" class="block text-sm text-white">Username</label>
                    <input type="username"
                        class="block w-full px-4 py-2 mt-2 text-black-700 bg-white border rounded-md focus:border-black-400 focus:ring-black-300 focus:outline-none focus:ring focus:ring-opacity-40">
                </div>
                <div class="mt-4">
                    <div>
                        <label for="password" class="block text-sm text-white">Password</label>
                        <input type="password"
                            class="block w-full px-4 py-2 mt-2 text-black-700 bg-white border rounded-md focus:border-black-400 focus:ring-black-300 focus:outline-none focus:ring focus:ring-opacity-40">
                    </div>
                    <a href="#" class="text-xs text-white hover:underline">Forget Password?</a>
                    <div class="mt-6">
                        <button
                            class="bg-slate-700 w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-black-700 rounded-md hover:bg-black-600 focus:outline-none focus:bg-black-600">
                            Login
                        </button>
                    </div>
            </form>
            <p class="mt-8 text-xs font-light text-center text-white"> Don't have an account? <a href="#"
                    class="font-medium text-white hover:underline">Sign up</a></p>
        </div>
    </div>
  </body>
</html>

